h1 Labs.
.m-contents

  .m-content(
    style={
      color: "#fff",
      background: "#222",
      "margin-left": "-30px"
    }
  )
    .m-content-img(
      style={
        float: "left",
        "background-image": "url(/images/labs/bandcast.jpg)",
        "margin-left": "0"
      }
    )

    .m-content-desc(
      style={
        float: "left",
        "margin-left": "0"
      }
    )
      a(href="http://skahack.github.io/cast-bandcamp/")
        h2 Bandcast

      p.
        Bandcampの音楽をテレビで聴けるようします。
      p.
        動きも最小で、テレビをつけていても邪魔にならないデザインにしました。

  .m-content(
    style={
      color: "#555",
      background: "#fff",
      "margin-left": "30px"
    }
  )

    .m-content-img(
      style={
        float: "right",
        //- https://stocksnap.io/photo/2O4DGFJ1Y5
        "background-image": "url(/images/labs/magazine_ux.jpg)",
        "margin-right": "0"
      }
    )

    .m-content-desc(
      style={
        float: "right",
        "margin-right": "0"
      }
    )
      a(href="/lab/magazine")
        h2 Magazine UX

      p.
        Webやモバイルの文法で、雑誌のような体験を実現するには。
      p.
        どうすると良いのか考えるための、実際に動くデモと一緒に読めるコンテンツです。


